<h1>Write a review for <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.collection_radio_buttons :rating, (1..5).to_a, :to_s, :to_s %>

  <%= f.submit "Create Review", class: "btn btn-primary" %>
<% end %>
